<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<% if @user.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
    <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @user, url: {action: :create} do |f| %>
    <%= f.label :uid, 'ID' %>
    <%= f.text_field :uid %>
    
    <%= f.label :pass, 'パスワード' %>
    <%= f.password_field :pass %>
    
    <%= f.submit '登録' %>
<% end %>